* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container-outline {
  border-style: solid;
  border-width: 7px;
  border-color: #00c4c1;
  height: 725px;
  width: 950px;
  position: relative;
}

.main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.grey-box {
  float: left;
  border-style: solid;
  border-width: 30px;
  border-color: #9e9e9e;
  margin-right: 3%;
}

.blue-box {
  height: 265px;
  width: 265px;
  border-style: solid;
  border-width: 5px;
  border-color: #5b9aff;
  background-color: #93baf9;
  padding: 10px;
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: #7c3fff;
}

#lemon {
  height: 50px;
  width: auto;
  display: block;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.text-box {
  width: auto;
  background-color: #e2e2e2;
  padding: 1px;
  border-color: #b5b5b5;
  border-width: 2px;
  border-style: solid;
  margin-top: 30px;
}

h2 {
  color: #7c3fff;
  font-size: 13px;
  text-align: center;
}

.purple-box-top {
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #7c3fff;
  width: 375px;
  float: right;
  border-bottom: none;
  text-align: center;
  padding: 16px;
  color: #7c3fff;
}

.numbers {
  float: right;
}

.purple-box-bottom {
  height: 275px;
  width: 375px;
  float: right;
  border-color: #7c3fff;
  border-style: solid;
  border-width: 2px;
  padding: 8%;
  text-align: center;
  font-size: 18px;
}
